.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid var(--slate-900);
}

.navbar__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
